/* Reset and common styles */
body,
h1,
h2,
p,
button {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

/* Body styles */
body {
    background-image: linear-gradient(45deg, #f3f3f3 0%, #e7e9ef 100%);
    padding: 40px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Heading Styles */
h1 {
    margin-bottom: 20px;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    margin: 20px 0;
    color: #666;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

/*Paragraph Styles*/
p {
    margin: 10px 0;
    color: #555;
}


/* Section Styles */
section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.3) 50%, transparent);
    pointer-events: none;
    z-index: 1;
}

/* Button styles with hover and active states */
button {
    background-color: #5c6ac4;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button:not(:last-child) {
    margin-right: 15px;
}


/* Story Styles */
#story {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
    color: #444;
    border-left: 4px solid #5c6ac4;
    animation: fadeIn 1s;
}

/* Animation keyframes for fadeIn effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Student Id Styles */
#studentId {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: italic;
    color: #888;
}

/* --------------------------------------------------------------------END OF CODE--------------------------------------------------------- */